<div style="background-color: #e6e6e6;">
	<div class="bg container">
		<div class="row">
			<div class="hidden-lg hidden-md hidden-xs col-sm-6">
				<ul>
					<li>ГАРАНТИЯ КАЧЕСТВА</li>
					<li>НИЗКИЕ ЦЕНЫ</li>
					<li>ЛЮБЫЕ РАЗМЕРЫ И ДИЗАЙН</li>
					<li>ЗА 3-5 РАБОЧИХ ДНЕЙ!</li>
					<li>ВО ВСЕХ РАЙОНАХ СПБ и ЛО</li>
					<li>СОТНИ ДОВОЛЬНЫХ КЛИЕНТОВ</li>
					<li>ДОСТАВКА И СБОРКА ЗА 1 ДЕНЬ</li>
					<li>СОБСТВЕННОЕ ПРОИЗВОДСТВО</li>
					<li>АКЦИИ И СКИДКИ!</li>
				</ul>	
			</div>
			<div class="hidden-xs hidden-sm col-md-6">
				<div class="accordian">
					<ul>
						<li>
							<div class="image_title">
								<a href="/galereya-i-ceny">
									HI-TECH
								</a>
							</div>
							<a href="/galereya-i-ceny">
								<img src="/files/images/rsz_hitech.jpg">
							</a>
						</li>
						<li>
							<div class="image_title">
								<a href="/galereya-i-ceny">
									Комфорт
								</a>
							</div>
							<a href="/galereya-i-ceny">
								<img src="/files/images/rsz_komfort.jpg">
							</a>
						</li>
						<li>
							<div class="image_title">
								<a href="/galereya-i-ceny">
									Люкс
								</a>
							</div>
							<a href="/galereya-i-ceny">
								<img src="/files/images/rsz_luks.jpg">
							</a>
						</li>
						<li>
							<div class="image_title">
								<a href="/galereya-i-ceny">
									Классика
								</a>
							</div>
							<a href="/galereya-i-ceny">
								<img src="/files/images/rsz_klassika.jpg">
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="nopad col-xs-12 col-sm-6 col-md-6">
				<img
					class="img-responsive imgbnr"
					src="{{ page.pageimage.url }}"
				/>
			</div>
		</div>
	</div>
</div>