{# Обратный звонок #}
<div class="modal fade" tabindex="-1" id="modal-call" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">&times;</button>
        <h3 class="modal-title text-center">
          ОСТАВЬТЕ ЗАЯВКУ НА РАСЧЕТ ЦЕНЫ</br>
          ПЕРЕЗВОНИМ ЧЕРЕЗ 2 МИНУТЫ
        </h3>
      </div>

      <div class="modal-body">
        <form id="main-form" class="form-inline text-center" method="POST">
          {{ csrf_field() }}
          <div class="form-group">
            <input
              id="phone"
              type="text"
              class="form-control"
              placeholder="Ваш телефон"
            />
          </div>
          <button type="submit" class="btn btn-call">
            ЖДУ ЗВОНКА
          </button>
        </form>
      </div>

    </div>
  </div>
</div>

{# Продукт #}
<div
  tabindex="-1"
  class="modal fade"
  id="modal-product"
  role="dialog"
>
  <div
    class="modal-dialog"
  >
    <div
      class="modal-content"
    >
      <div
        class="modal-header"
      >
        <button
        class="close"
        type="button"
        data-dismiss="modal"
        >
        ×
        </button>
        <h3
          class="modal-title"
        >
        Heading
        </h3>
      </div>
      <div
        class="modal-body"
      >

      </div>
      <div
        class="modal-footer"
      >

      </div>
    </div>
  </div>
</div>
